{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Service Report</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; color: #000; background: #fff;">

    <!-- Header -->
    <table width="100%" style="border: none; margin-bottom: 10px;">
        <tr>
            <td align="center">
                <img src="{% static 'img/reportlogo.webp' %}" width="100%" />
            </td>
        </tr>
    </table>

    <p style="text-align: right; color: #507ea5">
        Service Report No: {{ report.service_report_no }}
    </p>

    <!-- Report Info -->
    <table width="100%" border="0.5pt" cellspacing="0" cellpadding="5"
        style="border-collapse: collapse; margin-bottom: 20px;">
        <tr>
            <td><strong>Work Order Number:</strong> {{ report.work_order_number }}</td>
            <td><strong>Vessel:</strong> {{ report.vessel }}</td>
        </tr>
        <tr>
            <td><strong>Owner / Agent:</strong> {{ report.owner_agent }}</td>
            <td><strong>IMO No:</strong> {{ report.imo_no }}</td>
        </tr>
        <tr>
            <td><strong>Location:</strong> {{ report.location }}</td>
            <td><strong>Equipment Type:</strong> {{ report.equipment_type }}</td>
        </tr>
        <tr>
            <td><strong>Installation / Guarantee / Repair / Check:</strong> {{ report.installation_type }}</td>
            <td><strong>ENGINEER:</strong> {{ report.engineer }}</td>
        </tr>
        <tr>
            <td><strong>Reason for Call:</strong> {{ report.reason_for_call }}</td>
            <td><strong>Serial Number:</strong> NA</td>
        </tr>
    </table>

    <!-- Job Description -->
    <h3 style="text-align: center; margin-top: 20px;">JOB DESCRIPTION</h3>
    <div>
        {{ report.job_description|safe }}
    </div>
    
    <h4>Attachments:</h4>
    <div style="padding: 10px; margin-bottom: 20px;">
        {% if report.images.all %}
        <table width="100%" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
          {% for img in report.images.all %}
            {% if forloop.counter0|divisibleby:3 %}
            <tr>
            {% endif %}
              <td width="33%" align="center" style="vertical-align: top;">
                <img src="{{ img.image.url }}" width="250" /><br/>
              </td>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
        {% endif %}
      </div>

    <!-- Footer -->
    <div style="border-top: 1px solid #000; margin-top: 30px; padding-top: 10px; text-align: center; font-size: 10px;">
        UNIT NO 804, AL FAHIDI HEIGHTS 69, AL MUSALLAH ROADS, Dubai UAE. P.O BOX: 19276<br />
        <strong>Tel:</strong> +971 507349177 |
        <strong>Email:</strong> automation@almabrouk.com
    </div>
</body>

</html>